@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:ital,wght@0,300;1,200&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

nav {
  height: 60px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 10;
}

.logo {
  height: 50px;
  width: 80px;
  margin-right: auto;
  margin-left: 16px;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: padding 0.3s;
  font-size: small;
}

nav a:hover {
  background-color: #0f3041;
  color: #fff;
  padding: 0 40px;
}

nav svg {
  fill: #000;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.contact-us{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container{
 width: 85%;
 background: #fff;
 border-radius: 6px;
 padding: 20px 60px 30px 40px;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.container .content .left-side{
 width: 25%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 15px;
 position: relative;
}
.content .left-side::before{
 content: '';
 position: absolute;
 height: 70%;
 width: 1px;
 right: -15px;
 top: 50%;
 transform: translateY(-50%);
 background: #afafb6;
}
.content .left-side .details{
 margin: 14px;
 text-align: center;
}
.content .left-side .details i{
 font-size: 20px;
 color: rgb(200, 51, 51);
 margin-bottom: 10px;
 transition: all 0.5s ease;
}

.content .left-side .details i:hover{
 padding-right: 11px;
}

.content .left-side .details .topic{
 font-size: 13px;
 font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
 font-size: 13px;
 color: #afafb6;
}
.container .content .right-side{
 width: 75%;
 margin-left: 75px;
 font-size: 15px;
}

.content .right-side .topic-text{
 font-size: 15px;
 font-weight: 600;
 color: #0f3041;
}

.content .right-side .topic-text{
 transition: all 0.3s ease;
}


.content .right-side .topic-text:hover{
padding-left: 8px;
}


.content .right-side .topic-text span{
 font-size: 15px;
 font-weight: 600;
 color: rgb(200, 51, 51);
}

.right-side .input-box{
 height: 50px;
 width: 100%;
 margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
 height: 100%;
 width: 100%;
 border: none;
 outline: none;
 font-size: 12px;
 background: #F0F1F8;
 border-radius: 6px;
 padding: 0 15px;
 resize: none;
}
.right-side .message-box{
 min-height: 110px;
}
.right-side .input-box textarea{
 padding-top: 6px;
}
.right-side .button{
 display: inline-block;
 margin-top: 12px;
}
.right-side .button input[type="button"]{
 color: #fff;
 font-size: 14px;
 outline: none;
 border: none;
 padding: 8px 16px;
 border-radius: 6px;
 background: #0f3041;
 cursor: pointer;
 transition: all 0.3s ease;
}
.button input[type="button"]:hover{
 background: #fff;
 color: #000;
}

.footer-container {
 max-width: 1170px;
 margin: auto;
}

.row {
 display: flex;
 flex-wrap: wrap;
}

ul {
 list-style: none;
}

.footer {
 background-color: #0f3041;
 padding: 70px 0;
}


.footer-col {
 width: 25%;
 padding: 0 15px;
}


.footer-col h4 {
 font-size: 14px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 35px;
 font-weight: 500;
 position: relative;
}

.footer-col p {
 font-size: 14px;
 color: #bbbbbb;
 text-transform: capitalize;
 margin-bottom: 35px;
 transition: all 0.3s ease;
}

.footer-col p:hover {
 color: #ffffff;
 padding-left: 3px;
}

.footer-col h4::before {
 content: "";
 position: absolute;
 left: 0;
 bottom: -10px;
 background-color: #e91e63;
 height: 2px;
 box-sizing: border-box;
 width: 50px;
}

.footer-col ul li:not(:last-child) {
 margin-bottom: 10px;
}

.footer-col ul li {
 color: #bbbb;
 transition: all 0.3s ease;
}

.footer-col ul li:hover {
 color: #ffffff;
 padding-left: 3px;
}

.footer-col ul li a {
 font-size: 16px;
 text-transform: capitalize;
 color: #ffffff;
 text-decoration: none;
 font-weight: 300;
 color: #bbbbbb;
 display: block;
 transition: all 0.3s ease;
}
.footer-col ul li a:hover {
 color: #ffffff;
 padding-left: 8px;
}

.footer-col .social-links a {
 display: inline-block;
 height: 40px;
 width: 40px;
 background-color: rgba(255, 255, 255, 0.2);
 margin: 0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
 color: #24262b;
 background-color: #ffffff;
}





@media (max-width: 950px) {
 .container{
   width: 90%;
   padding: 30px 40px 40px 35px ;
 }
 .container .content .right-side{
  width: 75%;
  margin-left: 55px;
}
}




@media (max-width: 820px) {
 .container{
   margin: 40px 0;
   height: 100%;
 }
 .container .content{
   flex-direction: column-reverse;
 }
.container .content .left-side{
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.container .content .left-side::before{
  display: none;
}
.container .content .right-side{
  width: 100%;
  margin-left: 0;
}
}






@media (max-width: 450px) {
 .links-container {
   flex-direction: column;
   align-items: flex-start;
   position: fixed;
   top: 0;
   right: -100%;
   border-radius: 10px;
   z-index: 10;
   width: 300px;
   height: 300px;
   background-color: #fff;
   transition: 0.53s ease-out;
 }

 nav a {
   box-sizing: border-box;
   height: 500px;
   width: 100%;
   padding: 10px 30px;
   justify-content: flex-start;
   color: #000;
 }

 nav a:hover {
   background-color: #0f3041;
   color: #fff;
 }

 .open-sidebar-button,
 .close-sidebar-button {
   padding: 20px;
   display: block;
 }

 .close-sidebar-button svg {
   fill: #0f3041;
 }

 #sidebar-active:checked ~ .links-container {
   right: 0;
 }

 .logo {
   width: 70px;
 }

 .footer-col {
  width: 100%;
}
}